/* NAVIGATION STUFF GOES HERE  */

.cards-container {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1.15rem;
}

main .specials-details {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

footer {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1rem;

	.contact-info {
		grid-column: 1 / 3;
	}

	.copyright {
		grid-column: 1 / 3;
	}
}
